@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

<div class="container-fluid mt-4">
    <h1 class="mb-4">Users Management</h1>
    
    <div class="card">
        <div class="card-body">
            <p>This is a placeholder for the Users management section.</p>
            <p>Here you will be able to view, add, edit, and delete users.</p>
        </div>
    </div>
</div>